<%- include ('../_header.ejs') %>

<div class="container mt-6">
  <div class="row mt-5">
    <div class="col-md-5" >
      <div class="card" >
        <div class="card-body" >
          <% if(data){ %>
          <form  action="/s631998035/update/<%= data.id %>" method="post" >
            <h2> แก้ไขข้อมูล </h2>
            <div class="form-group" >
              <a href="#">sam-varchar</a>
              <input type="text" name="sam"  value="<%= data.sam %>" class="form-control" >
            </div>
            <div class="form-group">
              <a href="#">saeoung-float</a>
              <input type="text" name="saeoung" value="<%= data.saeoung %>" class="form-control" >
            </div>
            <div class="form-group">
              <a href="#">D631998035-int</a>
              <input type="text" name="D631998035" value="<%= data.D631998035 %>" class="form-control" >
            </div>
            <div class="form-group">
              <a href="#">id_jutarat-int</a>
              <select class="form-control" name="id_jutarat">
                <option name="id_jutarat" value="" >กรุณาเลือก</option>
                <% if(data2){ %>
                    <% for(var i = 0 ; i < data2.length ; i++){%>
                      <option value="<%= data2[i].id %>"
                        <% if(data2[i].id==data.id_jutarat){ %> selected <% }%>
                        >
                      <%= data2[i].ploy %>
                    </option>
                    <% }%>
                <% } %>
              </select>
            </div>
            <a href="/s631998035" class="btn btn-danger"> Back </a>
            <button type="submit"  class="btn btn-success"> Update </button>
          </form>
        <% }else { %>
          <form  action="/s631998035/add" method="post">
            <h2> เพิ่มข้อมูล </h2>
            <div class="form-group">
              <a href="#">sam-varchar</a>
              <input type="text" name="sam" placeholder="sam - varchar" class="form-control">
            </div>
            <div class="form-group">
              <a href="#">saeoung-float</a>
              <input type="text" name="saeoung" placeholder="saeoung - float" class="form-control">
            </div>
            <div class="form-group">
              <a href="#">D631998035-int</a>
              <input type="text" name="D631998035" placeholder="D631998035 - int" class="form-control"
            </div>
            <div class="form-group">
              <div class="row mt-3">
              </div>
              <a href="#">id_jutarat-int</a>
            <select class="form-control" name="id_jutarat">
              <option value="">กรุณาเลือก</option>
              <% if(data2){ %>
                  <% for(var i = 0 ; i < data2.length ; i++){%>
                    <option value="<%= data2[i].id%>">
                    <%= data2[i].ploy %>
                  </option>
                  <% }%>
              <% } %>
            </select>
          </div>
            <a href="/s631998035" class="btn btn-danger"> Back </a>
            <button type="submit"  class="btn btn-success"> Save </button>
          </form>
          <% } %>
        </div>
    </div>

    <%- include ('../_footer.ejs') %>
