<%- include ('../_header.ejs') %>

<div class="container mt-6">
  <div class="row mt-5">
    <div class="col-md-5" >
      <div class="card" >
        <div class="card-body" >
          <h1> ยืนยันที่ต้องการลบข้อมูล </h1>
            <div class="form-group" >
              <h5><font color=#0000>sam == <%= data.ssam %></font></h5>
            </div>
            <div class="form-group">
              <h5><font color=#0000>saeoung == <%= data.ssaeoung %></font></h5>
            </div>
            <div class="form-group">
              <h5><font color=#0000>D631998035 == <%= data.sD631998035 %></font></h5>
            </div>
            <div class="form-group">
              <h5><font color=#0000>id_jutarat == <%= data.nploy %></font></h5>
            </div>
            <div class="form-group">
              <h2><font color=#0000>U CONFIRM DELETE ?%></font></h2>
            </div>
            <a href="/s631998035" class="btn btn-success"> Back </a>
            <a href="/s631998035/delete/<%= data.sid %>" class="btn btn-danger"> DELETE ? </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ('../_footer.ejs') %>
