<%- include ('../_header.ejs') %>
    <div class="container mt-5">
        <div class="row mt-5">
    <div class="col-md-12">
      <h1 align = 'center'><b> SAM </b></h1>
      <p align = 'right'><a href="/s631998035/new" class="btn btn-success btn-lg">ADD</a></p>
      <table class="table table-hover">
        <thead>
          <tr class="table-active" >
            <th>No</th>
            <th>id</th>
            <th>sam</th>
            <th>saeoung</th>
            <th>D631998035</th>
            <th>ploy</th>
            <th>ratchawong</th>
            <th>D601998023</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% if(data){ %>
            <% for (var j = 0; j < data.length; j++) { %>
              <tr class="table-active">
                <td> <%= (j+1) %> </td>
                <td> <%= data[j].sid %></td>
                <td> <%= data[j].ssam %></td>
                <td> <%= data[j].ssaeoung %> </td>
                <td> <%= data[j].sD631998035 %> </td>
                <td> <%= data[j].nploy %> </td>
                <td> <%= data[j].nratchawong %> </td>
                <td> <%= data[j].nd601998023 %> </td>
                <td>
                  <a href="/s631998035/del/<%= data[j].sid %>" class="btn btn-danger"> DELETE </a>
                  <a href="/s631998035/update/<%= data[j].sid %>" class="btn btn-info"> UPDATE </a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-1">
    <%- include ('../_footer.ejs') %>
