<%- include ('../../views/_header.ejs') %>

<div class="container mt-6">
  <div class="row mt-5">
    <div class="col-md-5" >
      <div class="card" >
        <div class="card-body" >
          <h1> ยืนยันที่ต้องการลบข้อมูล </h1>
            <div class="form-group" >
              <h5><font color=#0000>tiew == <%= data.stiew %></font></h5>
            </div>
            <div class="form-group">
              <h5><font color=#0000>somwan == <%= data.ssomwan %></font></h5>
            </div>
            <div class="form-group">
              <h5><font color=#0000>D611998019 == <%= data.sD611998019 %></font></h5>
            </div>
            <div class="form-group">
              <h5><font color=#0000>id_Naruechai == <%= data.ntle %></font></h5>
            </div>
            <div class="form-group">
              <h2><font color=#0000>u confirm  DELETE ??%></font></h2>
            </div>
            <a href="/s611998019" class="btn btn-success">Back</a>
            <a href="/s611998019/delete/<%= data.sid %>" class="btn btn-danger"> DELETE ? </a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ('../../views/_footer.ejs') %>
