<%- include ('../../views/_header.ejs') %>

<div class="container mt-6">
  <div class="row mt-5">
    <div class="col-md-5" >
      <div class="card" >
        <div class="card-body" >
          <% if(data){ %>
          <form  action="/s611998019/update/<%= data.id %>" method="post" >
            <h2> แก้ไขข้อมูล </h2>
            <div class="form-group" >
              <a href="#">tiew-varchar</a>
              <input type="text" name="tiew"  value="<%= data.tiew %>" class="form-control" >
            </div>
            <div class="form-group">
              <a href="#">somwan-float</a>
              <input type="text" name="somwan" value="<%= data.somwan %>" class="form-control" >
            </div>
            <div class="form-group">
              <a href="#">D611998019-int</a>
              <input type="text" name="D611998019" value="<%= data.D611998019 %>" class="form-control" >
            </div>
            <div class="form-group">
              <a href="#">id_naruechai-int</a>
              <select class="form-control" name="id_naruechai">
                <option name="id_naruechai" value="" >กรุณาเลือก</option>
                <% if(data2){ %>
                    <% for(var i = 0 ; i < data2.length ; i++){%>
                      <option value="<%= data2[i].id %>"
                        <% if(data2[i].id==data.id_naruechai){ %> selected <% }%>
                        >
                      <%= data2[i].tle %>
                    </option>
                    <% }%>
                <% } %>
              </select>

            </div>
            <a href="/s611998019" class="btn btn-outline-secondary">Back</a>
            <button type="submit"  class="btn btn-success">Save Update</button>
          </form>


        <% }else { %>
          <form  action="/s611998019/add" method="post">
            <h2> เพิ่มข้อมูล </h2>
            <div class="form-group">
              <a href="#">tiew-varchar</a>
              <input type="text" name="tiew" placeholder="tiew - varchar" class="form-control">
            </div>
            <div class="form-group">
              <a href="#">somwan-float</a>
              <input type="text" name="somwan" placeholder="somwan - float" class="form-control">
            </div>
            <div class="form-group">
              <a href="#">D611998019-int</a>
              <input type="text" name="D611998019" placeholder="D611998019 - int" class="form-control">
            </div>
            <div class="form-group">
              <a href="#">id_naruechai-int</a>
            <select class="form-control" name="id_naruechai">
              <option value="">กรุณาเลือก</option>
              <% if(data2){ %>
                  <% for(var i = 0 ; i < data2.length ; i++){%>
                    <option value="<%= data2[i].id%>">
                    <%= data2[i].tle %>
                  </option>
                  <% }%>
              <% } %>
            </select>
          </div>
            <a href="/s611998019" class="btn btn-danger">Back</a>
            <button type="submit"  class="btn btn-success">Save Add</button>
          </form>
          <% } %>

        </div>
    </div>
  </div>
  </div>
  </div>
    <%- include ('../../views/_footer.ejs') %>
