<%- include ('../../views/_header.ejs') %>

    <div class="container mt-6">
        <div class="row mt-5">

    <div class="col-md-12">
      <h1 align = 'center'><b> TIEW </b></h1>
      <p align = 'right'><a href="/s611998019/new" class="btn btn-success btn-lg">Add_T</a></p>
      <table class="table table-hover">
        <thead>
          <tr class="table-active" >
            <th>No</th>
            <th>id</th>
            <th>tiew</th>
            <th>somwan</th>
            <th>D611998019</th>
            <th>tle</th>
            <th>chaiboonrueang</th>
            <th>D611998011</th>
            <th>Do</th>
          </tr>
        </thead>
        <tbody>
          <% if(data){ %>
            <% for (var j = 0; j < data.length; j++) { %>
              <tr class="table-active">
                <td> <%= (j+1) %> </td>
                <td> <%= data[j].sid %></td>
                <td> <%= data[j].stiew %></td>
                <td> <%= data[j].ssomwan %> </td>
                <td> <%= data[j].sD611998019 %> </td>
                <td> <%= data[j].ntle %> </td>
                <td> <%= data[j].nchaiboonrueang %> </td>
                <td> <%= data[j].nD611998011 %> </td>
                <td>
                  <a href="/s611998019/del/<%= data[j].sid %>" class="btn btn-danger"> DELETE </a>
                  <a href="/s611998019/update/<%= data[j].sid %>" class="btn btn-info"> UPDATE </a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-1">


    <%- include ('../../views/_footer.ejs') %>
