<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title> GROUP2 </title>

    <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css" </head>


    <body>


      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor03">
<ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a  style="border: 3px solid ;" class="nav-link" href="/s611998019"> TIEW <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item active">
                            <a style="border: 3px solid ;" class="nav-link" href="/s601998023"> PLOY <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item active">
                            <a style="border: 3px solid ;" class="nav-link" href="/s631998035"> SAM <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item active">
                            <a style="border: 3px solid ;" class="nav-link" href="/s611998011"> TLE <span class="sr-only">(current)</span></a>
                        </li>

                </div>

					<a  style="border: 3px solid ;" class="nav-item primary" href="/logout">Logout</a>

        </nav>

        <% JSON.stringify(session) %>
        <% if(session.success==false){ %>
        <% for(var i=0; i <session.errors.errors.length;i++){ %>
          <div class="alert alert-danger" role="alert">
            <%= session.errors.errors[i]["msg"] %>
          </div>
        <% } session.success=null; } %>

        <% if(session.success==true){ %>
            <div class="alert alert-success" role="alert">
              <%= session.topic %>
            </div>
          <% } session.success=null; %>
        </body>
        <style>
            body {
                background-image: url('https://scontent.fbkk5-3.fna.fbcdn.net/v/t1.0-9/83435723_1649786168503497_3430598202399096240_o.jpg?_nc_cat=105&_nc_sid=110474&_nc_eui2=AeG1Alk1ZMouHZGURoAhcMcWl3XbgrO53ySXdduCs7nfJNcLV8rzZN7Y-Ah479j9RoD9rQmTaAigtwSBxGsHmy1s&_nc_ohc=7KdA17OwUJgAX8nN3Er&_nc_ht=scontent.fbkk5-3.fna&oh=7be411a4fbc5f480c5c0d4d0253fb5b9&oe=5F8AD5B2');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }

            image {
                display: block;
                margin-left: auto;
                margin-left: auto;
            }

            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 25%;
                margin-bottom: auto;
                width: 40%;
            }
        </style>
       </html>
