<%- include("_header") %>
    <style>
        body {
            background-image: url('https://scontent.fbkk5-5.fna.fbcdn.net/v/t1.0-9/82266630_1649786065170174_3030127019188119308_o.jpg?_nc_cat=104&_nc_sid=110474&_nc_eui2=AeHrriwv2gkdZdNPK8yIjbaHlMUTy-osJ_6UxRPL6iwn_pcmz5h5-FOGnOdYNT6Hy0v8QIOqfxBUtg02OJAL0p2h&_nc_ohc=7huCiSPKxLoAX9xg9g8&_nc_ht=scontent.fbkk5-5.fna&oh=2f8b0b6e8ac323ec0b1249df3c8c4d5d&oe=5F8956DE');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        image {
            display: block;
            margin-left: auto;
            margin-left: auto;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25%;
            margin-bottom: auto;
            width: 40%;
        }
    </style>

    <div>
        <img src="https://www.freepngimg.com/thumb/welcome/26792-3-welcome-transparent-picture.png" alt="wel" class="center">
    </div>

    <%- include ( '_footer.ejs') %>
