
<%- include("../_header") %>
<div class="container mt-5">
    <div class="row">

        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                  <form action="/s601998023/delete/<%= data.id %>" method="POST">

            <div class="form-group">
                <h3><font color=#0000>Name = <%= data.ploy%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>True/False = <%= data.ratchawong%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>Number = <%= data.d601998023%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>Number = <%= data.id_saran%></font></h3>
            </div>

            <a href="/s601998023" class="btn btn-success"> <h3>Back</h3> </a>
            <a href="/s601998023/deleteNow/<%= data.id %>" class="btn btn-danger"><h3> Del</h3> </a>

            </form>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>

<%- include ('../_footer.ejs') %>
