<%- include ("../_header") %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
    <div class="card">
      <div class="card-body">
            <div class="col-md-7">
        <form action="/s601998023/update/<%= data1.id %>" method="post">

          <div class="form-group">
            <input type="text" name="ploy"  placeholder="ploy-varchar" value="<%= data1.ploy%>" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="ratchawong" placeholder="ratchawong-float" value="<%= data1.ratchawong %>" class="form-control">
          </div>
            <div class="form-group">
              <input type="text" name="d601998023" placeholder="d601998023-int" value="<%= data1.d601998023 %>" class="form-control">
            </div>

       <select class="form-control" name="id_saran">
         <option value="">กรุณาเลือก</option>
         <% if (data2) { %>
              <% for (var i=0; i<data2.length; i++) { %>
                <option value="<%= data2[i].id %>"
                  <% if (data2[i].id==data1.id_saran) { %> selected <%  } %> >
                    <%= data2[i].tiew %>
                </option>
            <%  } %>
          <%  } %>
       </select>

       
       <a href="/s601998023" class="btn btn-danger">Back</a>
       <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>


      </div>
    </div>
  </div>
</div>
</div>
<%- include ("../_footer") %>
