<%- include ("../_header") %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <form action="/s601998023/add" method="post">

          <div class="form-group">
            <input type="text" name="ploy" placeholder="ploy-varchar" class="form-control">
         </div>
         <div class="form-group">
           <input type="text" name="ratchawong" placeholder="ratchawong-float" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="d601998023" placeholder="d601998023-int" class="form-control">
       </div>


            <select class="form-control" name="id_saran">
              <option value="">กรุณาเลือก</option>
              <% if (data) { %>
                <% for (var i = 0; i < data.length; i++) { %>
                  <option value="<%= data[i].id%>">
                      <%= data[i].tiew %>
                  </option>
              <%  } %>
            <%  } %>

            </select>

            
            <a href="/s601998023" class="btn btn-danger">Back</a>
            <button type="submit" class="btn btn-success">Save</button>
          </form>

      </div>
    </div>
  </div>
</div>
</div>
<%- include ("../_footer") %>
