<%- include ("../_header") %>
<div class="container mt-6">
  <div class="row mt-5">

    <div class="col-md-12">
      <h1 align = 'center'><b> PLOY </b></h1>
      <p align = 'right'><a href="/s601998023/new" class="btn btn-success btn-lg">ADD</a></p>

<table class="table table-hover">
  <thead>
<tr class="table-active">


    <th>No</th>
    <th>Ploy</th>
    <th>Ratchawong</th>
    <th>D601998023</th>
    <th>TiewName</th>
    <th>Somwan</th>
    <th>D611998019</th>
    <th>Action</th>
</tr>
  </thead>

<tbody>
  <% if(data){ %>
    <% for(var i=0; i < data.length; i++) {%>
    <tr>
      <td><%= (i+1) %> </td>
    <td><%= data[i].sploy %> </td>
    <td><%= data[i].sratchawong %> </td>
    <td><%= data[i].sd601998023 %></td>
    <td><%= data[i].ttiew %></td>
    <td><%= data[i].tsomwan %></td>
    <td><%= data[i].td61198019 %></td>
    <td>
      <a href="/s601998023/delete/<%= data[i].sid %>" class="btn btn-danger"> Delete </a>
      <a href="/s601998023/update/<%= data[i].sid %>" class="btn btn-info"> Update </a>
    </td>
    </tr>
  <% } %>
    <% } %>
</tbody>
</table>
    </div>



  </div>
  <%- include ("../_footer") %>
