<%- include ('../../views/_header.ejs') %>

  <div class="row mt-5">
    <div class="container mt-5">
    <div class="col-md-5" >
      <div class="card" >
        <div class="card-body" >
          <% if(data){ %>
          <form  action="/s611998011/update/<%= data.id %>" method="post" >
            <h2> แก้ไขข้อมูล </h2>
            <div class="form-group" >
              <a href="#">tle-varchar</a>
              <input type="text" name="tle"  value="<%= data.tle %>" class="form-control" >
            </div>
            <div class="form-group">
              <a href="#">chaiboonrueang-float</a>
              <input type="text" name="chaiboonrueang" value="<%= data.chaiboonrueang %>" class="form-control" >
            </div>
            <div class="form-group">
              <a href="#">D611998011-int</a>
              <input type="text" name="D611998011" value="<%= data.D611998011 %>" class="form-control" >
            </div>
            <div class="form-group">
              <a href="#">id_noppadol-int</a>
              <select class="form-control" name="id_noppadol">
                <option value="">กรุณาเลือก</option>
                <% if(data2){ %>
                    <% for(var i = 0 ; i < data2.length ; i++){%>
                      <option value="<%= data2[i].id %>"
                        <% if(data2[i].id==data.id_noppadol){ %> selected <% }%>
                        >
                      <%= data2[i].sam %>
                    </option>
                    <% }%>
                <% } %>
              </select>

            </div>
            <a href="/s611998011" class="btn btn-danger">Back</a>
            <button type="submit"  class="btn btn-success">Save Update</button>
          </form>


        <% }else { %>
          <form  action="/s611998011/add" method="post">
            <h2> เพิ่มข้อมูล </h2>
            <div class="form-group">
              <a href="#">tle-varchar</a>
              <input type="text" name="tle" placeholder="tle - varchar" class="form-control">
            </div>
            <div class="form-group">
              <a href="#">chaiboonrueang-float</a>
              <input type="text" name="chaiboonrueang" placeholder="chaiboonrueang - float" class="form-control">
            </div>
            <div class="form-group">
              <a href="#">D611998011-int</a>
              <input type="text" name="D611998011" placeholder="D611998011 - int" class="form-control"
            </div>
              <div class="row mt-3">
              </div>
            <div class="form-group">
              <a href="#">id_noppadol-int</a>
            <select class="form-control" name="id_noppadol">
              <option value="">กรุณาเลือก</option>
              <% if(data2){ %>
                  <% for(var i = 0 ; i < data2.length ; i++){%>
                    <option value="<%= data2[i].id%>">
                    <%= data2[i].sam %>
                  </option>
                  <% }%>
              <% } %>
            </select>
          </div>
            <a href="/s611998011" class="btn btn-danger">Back</a>
            <button type="submit"  class="btn btn-success">Save Add</button>
          </form>
          <% } %>
          </div>
        </div>
    </div>
</div>
</div>
    <%- include ('../../views/_footer.ejs') %>
