<%- include ('../_header.ejs') %>

<div class="container mt-6">
  <div class="row mt-5">
    <div class="col-md-5" >
      <div class="card" >
        <div class="card-body" >
          <h1> ยืนยันที่ต้องการลบข้อมูล </h1>
            <div class="form-group" >
              <h5><font color=#0000>tle == <%= data.stle %></font></h5>
            </div>
            <div class="form-group">
              <h5><font color=#0000>chaiboonrueang == <%= data.schaiboonrueang %></font></h5>
            </div>
            <div class="form-group">
              <h5><font color=#0000>D611998011 == <%= data.sD611998011 %></font></h5>
            </div>
            <div class="form-group">
              <h5><font color=#0000>id_noppadol == <%= data.nsam %></font></h5>
            </div>
            <div class="form-group">
              <h2><font color=#0000>u confirm  DELETE ??%></font></h2>
            </div>
            <a style="border: 3px solid ;" href="/s611998011" class="btn btn-success">BACK</a>
            <a href="/s611998011/delete/<%= data.sid %>" class="btn btn-danger"> DELETE ? </a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ('../_footer.ejs') %>
