<%- include ('../../views/_header.ejs') %>


<div class="container mt-6">
        <div class="row mt-5">

    <div class="col-md-12">
      <h1 align = 'center'><b> TLE </b></h1>
      <p align = 'right'><a href="/s611998011/new" class="btn btn-success btn-lg">Add</a></p>
      <table class="table table-hover">
        <thead>
          <tr class="table-active" >
            <th>No</th>
            <th>id</th>
            <th>tle</th>
            <th>chaiboonrueang</th>
            <th>D611998011</th>
            <th>sam</th>
            <th>saeoung</th>
            <th>D631998035</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% if(data){ %>
            <% for (var j = 0; j < data.length; j++) { %>
              <tr class="table-active">
                <td> <%= (j+1) %> </td>
                <td> <%= data[j].sid %></td>
                <td> <%= data[j].stle %></td>
                <td> <%= data[j].schaiboonrueang %> </td>
                <td> <%= data[j].sD611998011 %> </td>
                <td> <%= data[j].nsam %> </td>
                <td> <%= data[j].nsaeoung %> </td>
                <td> <%= data[j].nD631998035 %> </td>
                <td>
                  <a href="/s611998011/del/<%= data[j].sid %>" class="btn btn-danger"> DELETE </a>
                  <a href="/s611998011/update/<%= data[j].sid %>" class="btn btn-info"> UPDATE </a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-1">

    <%- include ('../../views/_footer.ejs') %>
